/****** Body and Overlay styling ******/
body {
    height: 0px;
    background-color: #110f16;
    overflow: hidden;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    z-index: 10; 
    pointer-events: none;

}

.overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/****** Font styling ******/

p {
    font-family: "Balthazar", serif;
    font-size: 1em;
}

/****** Header styling ******/
header {
    padding: 130px 50px 0 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background: repeating-linear-gradient(
        90deg,
        #a47551,
        #a47551 10px,
        #8a5e3a 10px,
        #8a5e3a 20px
    );    position: fixed;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
}

header h1 {
    background-color: burlywood;
    font-family: "Ewert", serif;
    font-size: 55px;
    color: #7d3170;
    padding: 0 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/****** Main styling ******/
main {
    padding: 0 22%;
    position: relative;
    z-index: -1;
}

/****** Main: Img styling ******/
#imgContainer {
    position: relative;
    width: 500px;
    height: 500px;
    z-index: 1;
    transform: translate(-25%, 57%);
    transform-origin: center;
    overflow: hidden;
}

.carousel {
    position: absolute;
    top: 133%;
    left: 50%;
    transform-origin: center center;
    /* animation: rotateCarousel 10s linear infinite;  */
}

.carousel img {
    width: 500px;
    height: auto;
}

.carousel-item {
    position: absolute;
    width: 300px;
    height: auto; 
}

.selen1 { 
    transform: rotate(0deg) translate(-50%, -144%); 
}
.selen2 { 
    transform: rotate(90deg) translate(-50%, -60%);
}
.selen3 { 
    transform: rotate(180deg) translate(50%, -50%);
}
.selen4 { 
    transform: rotate(270deg) translate(50%, -132%); 
}

/* @keyframes rotateCarousel {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */


/*****  TEST SELEN : SUCCESS  ********/
.carousel-item img {
    transition: opacity 0.5s ease-in-out; /* Smooth opacity transition */
}

.carousel-item:hover img {
    opacity: 0; 
}

.carousel-item img {
    opacity: 1;
}

.selen1.carousel-item {
    background-image: url('images/selen1new.jpg');
    background-size: cover;
}

.selen2.carousel-item {
    background-image: url('images/selen2new.jpg');
    background-size: cover;
}

.selen3.carousel-item {
    background-image: url('images/selen3new.jpg');
    background-size: cover;
}

.selen4.carousel-item {
    background-image: url('images/selen4new.jpg');
    background-size: cover;
}



main #imgContainer img {
    width: 300px;
    height: auto;
}

main #imgContainer img:hover {
    cursor: pointer;
}

/* Spotlight overlay */
.spotlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle 300px at var(--x, 50%) var(--y, 50%), transparent, rgba(0, 0, 0, 0.8));
    pointer-events: none;
    transition: background-size 0.3s ease;
  }

/****** Main: Text styling ******/
main #textContainer {
    position: absolute;
    right: 17%;
    top: 127%;
    z-index: 10;
}

main #textContainer  p {
    color:aliceblue;
    padding-left: 15px;
}

/****** Footer styling ******/
footer {
    background-color: burlywood;
    transform: translate(0, 35vh);
    padding: 10px 0;
}

footer p {
    text-align: center;
}

/****** Classes ******/
.onscreen {
    box-shadow: 0px 0px 5px 3px rgb(255, 221, 72);
    filter: none;
}

p.onscreen {
    background-color: rgba(119, 101, 78, 0.87);

}

.offscreen {
    filter: blur(3px);
    z-index: -1;
}

.flicker {
    animation: flicker 0.5s ease-in-out infinite;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



