/* Font Styling */
h1 {
    font-family: 'DM Mono';
    font-style: italic;
    font-size: 37px;
    color: #090D12;
}

h2 {
    font-family: 'DM Mono';
    font-size: 28px;
    color: #090D12;
    width: 550px;
}

h3 {
    font-family: 'DM Mono';
    font-style: normal;
    font-size: 28px;
    color: #FFFFFF;
    margin: 0;
}

p {
    font-family: 'Poppins';
}

a {
    font-family: 'Poppins';
    font-size: 19px;
    color: #EEE1D7;
    text-decoration: none;
}

/* General Page Layout */
body {
    background-color: #9a95b1;
    overflow: hidden;
}

.trainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("images/backgroundSky.jpg");
    background-repeat: repeat-x;
    background-position: 0px 194px;
    background-size: 1200px 285px;
    animation: moveBackground 60s ease-in infinite;
    pointer-events: none;
}

@keyframes moveBackground {
    0% {
        background-position: 0 194px;
      }
      100% {
        background-position: -50000px 194px;
      }
}

.trainForeground {
    position: absolute;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.leftSide {
    position: fixed;
    top: -15%;
    left: -52%;
    width: 29%;
    height: 110%;
    background-color: #2d2740;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.rightSide {
    position: fixed;
    top: -15%;
    right: -52%;
    width: 29%;
    height: 110%;
    background-color: #2d2740;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

/* animations  */
.handles {
    transform-origin: 500px 215px;
    animation: swing 2s ease-in-out infinite; 
}

.handles2 {
    margin-left: 550px;
}

.handles3 {
    margin-left: 1050px;
}

@keyframes swing {
    0% {
      transform: rotate(0deg); /* Start at 0deg */
    }
    25% {
      transform: rotate(30deg); /* Swing to -30deg */
    }
    50% {
      transform: rotate(-15deg); /* Swing to 30deg */
    }
    75% {
      transform: rotate(15deg); /* Reduced swing back to -15deg */
    }
    100% {
      transform: rotate(0deg); /* Smoothly come back to 0deg */
    }
  }


/* Banner/Header Styling */
.banner {
    display: flex;
    align-items: center;
    gap: 23px;
    text-align: end;
    max-width: 630px;
    max-height: 250px;
}

.banner h1 {
    background-color: #fff7f0f5;
    padding: 1%;
    border-radius: 15px;
}

.banner h2 {
    background-color: #7f889aed;
    padding: 1%;
    border-radius: 15px;

}

/* Main Styling */
main {
    display: flex;
    gap: 10px;
    margin-block-start: 2em;
    padding-bottom: 188px;
}

section {
    background-color: #355f95c9;
    min-width: 200px;
    min-height: 300px;
    padding: 2%;
    border-radius: 15px;
}

section ul {
    padding-left: 10px;
}

section ul li {
    list-style-type: none;
    line-height: 1.8em;
}

section ul li a:hover {
    background-color: #D48969;
    color: #090D12;
}

/* Footer Styling */
footer {
    background-color: #6A7084;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

/* hoverBox animation */
.hoverBox {
    position: absolute;
    width: 21%;
    height: 500px;
    /* background-color: #090D12; */
    margin-top: 16%;
    cursor: pointer;
    z-index: 2;
}

/* .hoverBox:hover{
    background-color: #D48969;
} */

.hoverBox:hover ~ .trainContainer .handles {
    animation: handlesStop 5s ease-in-out forwards;
}

@keyframes handlesStop {
    0% {
        transform: rotate(0deg); 
      }
      25% {
        transform: rotate(30deg);
      }
      50% {
        transform: rotate(-15deg);
      }
      75% {
        transform: rotate(15deg);
      }
      100% {
        transform: rotate(0deg);
      }
}

.hoverBox:hover ~ .trainContainer {
    animation: backgroundStop 6s ease-out forwards;
}

@keyframes backgroundStop {
    from {
        background-position: 0 194px;
      }
    to {
        background-position: -1200px 194px;
      }
}
