body {
    background-color: antiquewhite;
}
h1, p, h2, li {
    font-family: "Arimo", sans-serif;
}

h1, h2 {
    text-align: center;

}
ul {
    padding-left: 18%;
}

p {
    column-count: 2; /* Number of columns */
    column-gap: 20px; /* Space between columns */
    line-height: 1.75em;
    max-width: 98ch;
    text-indent: 2em;
    margin: 0 auto;
    padding: 0 1%;
}